.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width:1300px;
  width:100%;
}
.nav {
  padding:20px 60px;
  width:100%;
  display:flex;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  background:#fff;
  height:10vh;
  justify-content: space-between;
  align-items: center;
} 
.container {
  padding:20px;
  height: 90vh;
  display:flex;
  flex-direction: column  ;
}
.left {
  max-width:50%;
}
 .heading {
  font-size:2.5em;
  font-weight:bold;
  margin-top:20px;
}
.left > .downloadContainer {
  margin-top:30px;
  display:flex;
}
.card {
  min-width:300px;
  height:200px;
  margin:10px;
  background:#0002;
  border-radius:20px;
  padding:25px 30px;
}
.card.tilted {
  transform: rotate(20deg);
}
.card > .emoji {
  font-size:1.75em;
}
.card > .details {
  overflow:hidden;
  flex:1;
  text-overflow: ellipsis;
  font-size:small;
}
.card:nth-child(4n+1) { background:#d8f2ff; }
.card:nth-child(4n+2) { background:#ffefd5; }
.card:nth-child(4n+3) { background:#6341ef; transform:rotate(-5deg); color:#fff;}

.container{
  padding:20px;
}
.third{
  background:#fbf5ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  border-radius:30px;
  padding:40px;
}
.third .right {
  max-width:40%;
  margin-left:20px;
}
.fourth {
  padding:40px;
  height: 100%;
  display:flex;
  overflow: hidden;
}
.fourth > .left{
  display:flex;
  flex-direction: column;
  flex:1;
  max-width: unset;
}
.marker {
  background:#613fee;
  width:3px;
  border-radius:2px;
}